/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* Sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #adb5bd;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #495057;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6c757d;
}

/* Page Content */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.card {
    margin-bottom: 20px;
}
